<h1>10 Day Weather Forecast</h1>
<p>Get the weather forecast for the next ten days in your desired city. Just put in your zipcode.</p>

<form action="/results" method="POST">
    <input type="text" name="city" placeholder="Enter your City">
    <br>
    <input type="text" name="state" placeholder="Enter your State">
    <br>
    <input type = "submit">
</form>